body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

.orange-color {
  color: orange;
}

.flexgible-containet {
  display: flex;
  padding-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
}

.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, rgb(223, 129, 112), rgb(245, 82, 53));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}

.experience-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#baby-web {
  border-left: 7px solid;
  background-image: linear-gradient(rgb(211, 79, 193), rgb(68, 54, 192));
  border-image-slice: 1;
}
#full-stack-web {
  border-left: 7px solid;
  background-image: linear-gradient(cyan, red);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
